$defaultSize: 1em;
$darken: #444;
$reddish: #f54545;



body {
    font-size: $defaultSize;
}

.darken {
    color: $darken !important;
    font-weight: bold;
}

.main-title {
    text-align: center !important;
}

.title {
    &.is-4 {
        margin-bottom: $defaultSize;
    } 
}

.office-container {
    margin-top: 2 * $defaultSize;
}

.select {
    display: block !important;
    select {
        width: 100%;
    } 
}

.notification {
    position: absolute;
}

.company-details {
    margin-bottom: 2 * $defaultSize;
    li {
        margin-bottom: $defaultSize;
    }
}

.company-list, .office-list {
    align-items: stretch;
    flex-wrap: wrap;
    .card {
        &.companies, &.office {
            flex: 0 1 30%;
            margin-bottom: $defaultSize * 1.5;
            transition: all .3s ease;
            &:hover {
                transform: translateY(-10px)
            }
            li {
                margin-bottom: $defaultSize;
                h4 {
                    font-weight: bold;
                }
            }
        }
        &:hover {
            .delete {
                display: inline-block;
            }
        }
        .delete {
            position: absolute;
            top: -10px;
            right: -10px;
            background-color: $reddish;
            display: none;
        }
    }
}
